.image {
  margin-right: 15px;
}

.green {
  color: #83FFB3;
}

.yellow {
  color: yellow;
}

.red {
  color: #FF4C4C;
}

figure img {
	vertical-align: top;
}

figure figcaption {
     color: #fff;
     font-size: 20px;
     line-height: 25px;
     font-family: "Roboto Condensed", sans-serif;
     font-weight: 300;
	 border: none;
	 text-align: justify;
}
}
